body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

body{
	background-color:#4f4a47;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
}

*{
	margin:0px;
	padding:0px;
}

div#container{
    position:relative;
}


canvas{
    display:block;
    position:absolute;
    top:0px;
    /*
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-backface-visibility: hidden;
    */
}

div#debug{
    position:absolute;
    top:0px;
    color:#fff;
}


div#sound-btn{
    position:absolute;
    top:0px;
    right:0px;
    color:#fff;
    cursor:pointer;
}