
<% content_for :js_css_include do %>
	<%= javascript_include_tag 'Login', media:'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="signup_container">

	<h2 class="title0">ユーザー登録</h2>

	<%= render 'form', user:@user %>

</div>