===============================
<%= @user.name %>様
===============================

この度は「MapPop運営局」を利用頂きましてありがとうございます。
ユーザー名: <%= @user.name %>


<a href="http://localhost:3000/users/token/<%= @token %>">http://localhost:3000/users/token/<%= @token %></a>


+---------------------------+
MapPop事務局
http://160.16.62.37:8080/

計画いらずで街を楽しめる地図サービス
+---------------------------+