@charset "utf-8";

@import "mixin";



/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
 
.cf:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}




/*  BASE STYLE  */
body,
html{
    width: 100%;
    height: 100%;
}

html{
    overflow-y: hidden;
}

body {
	color: $txt;
	font-family: $baseFont;
    -webkit-text-size-adjust: 100%;
	word-wrap: break-word;
    overflow-x: hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}


// リンク
a {
    -webkit-tap-highlight-color: transparent;
	&:link {
		color: $linkColor;
	}
	&:visited {
		color: $linkColor_visited;
		//color:darken($linkColor, 20%);
	}
	&:hover {
		text-decoration: none;
		color: $linkColor_hover;
		//color:lighten($linkColor, 20%);
	}
	&:active {
		color: $linkColor_active;
		//color:lighten($linkColor, 20%);
	}
}

// from ballog
// http://blog.bluearrowslab.com/smartphone/topicks/376/

input[type="text"]:focus {
  outline: 0;
  border-color: none;
}

input[type="text"],
input[type="password"],
textarea{
    width: 440px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    padding-left: 10px;
    border-radius: 10px;
    float: right;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    margin-right: 5px;
    border-radius: 8px;
    border: 1px solid #4c4c4c;
    -webkit-box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: $white;
}


input[type="checkbox"]:checked:before {
    position: absolute;
    left: 1px;
    top: 17px;
    display: block;
    content: "";
    width: 10px;
    height: 4px;
    background: $black;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: right center;
}

input[type="checkbox"]:checked:after {
    display: block;
    position: absolute;
    left: 9px;
    top: 17px;
    content: "";
    width: 19px;
    height: 4px;
    background: $black;
    -webkit-transform: rotate(-53deg);
    -webkit-transform-origin: left center;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}


label{
    height: 66px;
    line-height: 66px;
    display: inline-block;
    font-size: 36px;
    float: left;
}


.c_mb10{
    margin-bottom: 10px !important;
}

.c_mb20{
    margin-bottom: 20px !important;
}

.c_mb30{
    margin-bottom: 30px !important;
}

.c_mb40{
    margin-bottom: 40px !important;
}

.c_mb30{
    margin-bottom: 30px !important;
}

.c_mb80{
    margin-bottom: 80px !important;
}

.c_mb100{
    margin-bottom: 100px !important;
}



.btn0{
    width:678px;
    height: 106px;
    line-height: 106px;
    margin: 0 auto;
    display: block;
    background-color:#ebb314;
    color:#fff;
    font-size:48px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 0px #bc8e10,
                2px 2px 0px #bc8e10,
                3px 3px 0px #bc8e10,
                4px 4px 0px #bc8e10,
                5px 5px 0px #bc8e10,
                6px 6px 0px #bc8e10,
                7px 7px 0px #bc8e10;
    border: none;

    &:active{
        box-shadow:none;
        transform:translate(7px,7px);
    }

    &:link,
    &:visited{
        color:#fff;
    }

}


@media screen and (min-width: 751px) {
    .btn0{
        cursor:pointer;

        &:hover{
            box-shadow:none;
            transform:translate(7px,7px);
        }
    }
}


.btn1{
    text-align: center;

    a{
        line-height: 110%;
        padding: 0 5px;
        display: inline-block;
        border-bottom: 1px solid #f1831b;
        font-size: 30px;
        color: #f1831b;
        text-decoration: none;
    }
}


@media screen and (min-width: 751px) {
    .btn1 a{
        transition-duration:0.3s;
        transition-property: opacity;

        &:hover{
            opacity: 0.7;
        }
    }
}


.tweet_container{
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}

.pagination{
    margin-bottom: 50px;
}


.title0{
    margin-bottom: 60px;
    padding-top: 50px;
    color: #ebb313;
    font-size: 50px;
    text-align: center;
}


.title1{
    margin-bottom: 55px;
    text-align: center;
    font-size: 32px;
    color: #8c8c8c;
}


//-----------------header--------------------
header{
    width:100%;
    height:132px;
    background-color:#fff;
    border-bottom:6px solid #ebb314;
    box-sizing:border-box;
    position:relative;
    box-shadow:0px 0px 3px 3px rgba(1,1,1,0.1);

    h1{
        width: 182px;
        margin: 0 auto;
        padding-top: 42px;
    }

    a.login_btn{
        width: 200px;
        height: 72px;
        line-height: 72px;
        background-color: #ebb313;
        display: block;
        position: absolute;
        top: 26px;
        right: 26px;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 26px;
    }

    a.main_menu_btn{
        width: 49px;
        height: 27px;
        display: block;
        position: absolute;
        top: 48px;
        left: 50px;
    }
}


@media screen and (min-width: 751px) {
    
    header{
        a.main_menu_btn{
            zoom: 0.7;
            top: 70px;
            left: 60px;
            transition-duration: 0.3s;
            transition-property: opacity;

            &:hover{
                opacity: 0.7;
            }
        }

        h1{
            padding-top: 52px;
            zoom: 0.8;
        }

        a.login_btn{
            top: 52px;
            right: 52px;
            zoom:0.7;
            transition-duration: 0.3s;
            transition-property: opacity;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}

section.main_menu{
    width:100%;
    height:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateX(-100%);

    div.bg{
        width:100%;
        height: 100%;
        position:absolute;
        top:0px;
        left:0px;
    }

    ul{
        width: 600px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 3px 3px rgba(1,1,1,0.1);
        background-image:url("./menu/close_btn_bg.png");
        background-repeat:no-repeat;
        background-position:right top;
        position:relative;

        li{
            &:first-child{
                padding-top:100px;
            }

            a{
                height: 128px;
                line-height: 128px;
                padding-left: 62px;
                display: block;
                color: #ebb313;
                text-decoration: none;
                border-bottom: 2px solid #ebb313;
                font-size: 32px;
            }
        }

        li.close_btn{
            width:37px;
            height: 37px;
            position:absolute;
            top:28px;
            left:540px;

            a{
                width:37px;
                height: 37px;
                padding-left: 0;
                background-image:url("./menu/close_btn.png");
                text-indent: -9999px;
                border-bottom: none;
            }
        }
    }
}


@media screen and (min-width: 751px) {
    
    section.main_menu{
        ul{
            width: 300px;

            li{
                height: 50px;

                &:first-child{
                    padding-top: 150px;
                }

                a{
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                    border-bottom: 1px solid #ebb313;

                    transition-duration: 0.3s;
                    transition-property: opacity;

                    &:hover{
                        opacity: 0.7;
                    }
                }

                &.close_btn{
                    left: 230px;

                    a{
                        transition-duration: 0.3s;
                        transition-property: transform;

                        &:hover{
                            transform: rotate(90deg);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

}

section.main_content{
    width: 100%;
    margin-bottom: 80px;
}

body.questions_index section.main_content{
    margin-bottom: 0;
}

footer{
    width: 100%;
    padding-bottom: 20px;
    border-top:4px solid #ebb314;

    div.inner{
        @include clearfix;
        min-height: 204px;

        div.left{
            width: 50%;
            margin-left:50px;
            padding-top:58px;
            float:left;
        }

        div.right{
            padding-top:58px;
            margin-left: 42px;
            float:left;

            nav ul{
                li{
                    margin-bottom: 12px;
                    list-style: circle;

                    a{
                        color:#a7a7a7;
                        font-size:20px;
                        text-decoration: none;
                    }  
                }
            }
        }
    }

    p.copy{
        color: #a7a7a7;
        text-align:center;

        a{
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 751px) {

    footer{
        div.inner div.left{
            width: 40%;
            margin-left: 16%;
        }

        div.inner div.left,
        div.inner div.right,
        p.copy{
            zoom:0.7;

            a{
                transition-duration: 0.3s;
                transition-property: opacity;

                &:hover{
                    opacity: 0.7;
                }
            }
        }

        div.inner{
            min-height: 160px;

            div.right{
                min-width: 300px;
            }
        }
    }

}

//-----------------modal--------------------
.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
    transition-duration: 0.3s;
    transition-property: opacity;
    z-index: 1;

    .bg{
        width: 100%;
        height: 100%;
        position:absolute;
        top:0px;
        left:0px;
    }

    .inner{
        background-color: #fff;
        border-radius: 10px;
        width: 690px;
        height: 1054px;
        margin: -527px 0 0 -345px;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translateY(-20px);
        background-image:url("./menu/close_btn_bg.png");
        background-repeat:no-repeat;
        background-position:right top;
        transition-duration: 0.3s;
        transition-property: transform, opacity;


        input,
        textarea{
            width: 100%;
        }


        .close_btn{
            width:37px;
            height: 37px;
            display: block;
            position:absolute;
            top:28px;
            left:624px;
            background-image:url("./menu/close_btn.png");
            text-indent: -9999px;
        }

        .comments_title{
            margin-bottom: 10px;
        }

    }


    &.new .inner{
        width: 606px;
        height: 974px;
        padding:40px 42px;

        div{
            @include clearfix;

            &.textarea_container{
                label{
                    float: none;
                }
            }
        }

        input[type="text"],
        textarea{
            width: 400px;
        }

        textarea{
            width: 592px;
            height: 300px;
            display: block;
            float: none;
        }

    }


    &.show .inner{

        div.top{
            width:auto;
            margin-bottom: 24px;
            padding:40px 42px 60px 42px;
            border-bottom:2px solid #ebb314;

            h2.title{
                width: 470px;
                height: 60px;
                line-height: 60px;
                margin-bottom: 18px;
                padding-left: 55px;
                font-size: 44px;
                font-weight: bold;
                color: #ebb314;
                border-bottom: 16px solid #ebb314;
                background-image:url("./map/icon.png");
                background-repeat:no-repeat;
                background-position:left 10px;
            }

            p.content{
                min-height: 240px;
                font-size: 36px;
                line-height: 60px;
                background:repeating-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 58px, #ebb314 58px, #ebb314 60px);
                background-position: 0 -1px;
            }
        }

        div.bottom{
            padding:0 42px 38px 42px;

            h2{
                height:58px;
                line-height: 58px;
                margin-bottom: 24px;
                font-size: 36px;
                color:#ebb314;
                border-bottom: 2px dashed #ebb314;
            }

            ul.comments{
                height: 220px;
                margin-bottom: 24px;
                overflow-x: hidden;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;

                li{
                    margin-bottom: 10px;
                    @include clearfix;

                    img{
                        width:42px;
                        height:42px;
                        margin-right: 12px;
                        float:left;
                    }
                    p{
                        line-height: 44px;
                        font-size:24px;
                        float:left;

                        &.no_comment{
                            margin-left: 0;
                        }
                    }
                }
            }

            textarea{
                border-radius: 10px;
                width: 590px;
                height: 100px;
                margin-bottom: 10px;
                padding: 0 10px;
                font-size: 30px;
                line-height: 40px;
                float: none;
            }

            .answer_btn{
                width: 100%;
            }
        }
    }


    &.edit_profile .inner{

        div.container{
            padding: 40px 42px;
            position:relative;

            div.change_photo{
                transition-duration: 0.3s;
                transition-property: opacity;
            
                label.photo_file_select_btn{
                    height:auto;
                    margin-bottom: 60px;
                    float:none;
                    // width: 100%;
                    // height: 60px;
                    // background-color: #ddd;
                    // border-radius: 10px;
                    // line-height: 60px;
                    // border: 1px solid #ababab;

                    input{
                        //display: none;
                        cursor:pointer;
                    }

                }

                a.photo_upload_btn{
                    width: 100%;
                }

            }

            div.change_profile{
                width: 600px;
                display: none;
                transition-duration: 0.3s;
                transition-property: opacity;
                position:absolute;
                top:40px;

                div.clearfix{
                    @include clearfix;
                }

                input[type="text"],
                input[type="password"],
                textarea{
                    width: 420px;
                }

                textarea{
                    height:200px;
                }
            }

            ul.change_menu{
                li{

                }
            }
        }
    }
}



@media screen and (min-width: 751px) {

    .modal .inner{
        zoom: 0.7;

        .close_btn{
            transition-duration:0.3s;
            transition-property: transform;
            
            &:hover{
                transform: rotate(90deg);
            }
        }
    }
}



.loading_cover{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    position:fixed;
    top:0px;
    left:0px;
    background-image:url("./loading.gif");
    background-repeat:no-repeat;
    background-position:center center;
    transition-duration: 0.3s;
    transition-property: opacity;
}