@charset "utf-8";

@import "mixin";



/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
 
.cf:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}




/*  BASE STYLE  */
body,
html{
    width: auto;
    height: auto;
    overflow-x: hidden;
}

body {
	color: $txt;
	font-family: $baseFont;
    -webkit-text-size-adjust: 100%;
	word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
}


// リンク
a {
    -webkit-tap-highlight-color: transparent;
	&:link {
		color: $linkColor;
	}
	&:visited {
		color: $linkColor_visited;
		//color:darken($linkColor, 20%);
	}
	&:hover {
		text-decoration: none;
		color: $linkColor_hover;
		//color:lighten($linkColor, 20%);
	}
	&:active {
		color: $linkColor_active;
		//color:lighten($linkColor, 20%);
	}
}

// from ballog
// http://blog.bluearrowslab.com/smartphone/topicks/376/

input[type="text"]:focus {
  outline: 0;
  border-color: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea{
    width: 210px;
    min-width: 210px;
    max-width:210px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 5px;
    float: right;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    margin-right: 5px;
    border-radius: 8px;
    border: 1px solid #4c4c4c;
    -webkit-box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: $white;
}


input[type="checkbox"]:checked:before {
    position: absolute;
    left: 1px;
    top: 17px;
    display: block;
    content: "";
    width: 10px;
    height: 4px;
    background: $black;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: right center;
}

input[type="checkbox"]:checked:after {
    display: block;
    position: absolute;
    left: 9px;
    top: 17px;
    content: "";
    width: 19px;
    height: 4px;
    background: $black;
    -webkit-transform: rotate(-53deg);
    -webkit-transform-origin: left center;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}


.file_selector{
    text-align: center;

    label{
        width: 80px;
        height: 80px;
        background-color: #ebb314;
        background-image:url("./camera_icon1.png");
        background-repeat:no-repeat;
        background-position:50% 19px;
        box-shadow: 1px 1px 0px #bc8e10,
                    2px 2px 0px #bc8e10,
                    3px 3px 0px #bc8e10,
                    4px 4px 0px #bc8e10;
        position:relative;
        display: inline-block;
        overflow: hidden;

        &:active{
            box-shadow:none;
            transform:translate(4px,4px);
        }

        p{
            width: 80px;
            line-height: initial;
            position: absolute;
            top: 54px;
            left: 0px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            letter-spacing: 2px;
        }

        input{
            visibility: hidden;
        }
    }


    div.photo{
        width:80px;
        height: 80px;
        margin: 0 0 0 15px;
        background-position:50% 50%;
        background-size:cover;
        position: relative;
        top: 2px;
        border-radius: 10px;
        display: none;

        .delete_btn{
            width: 30px;
            height: 30px;
            border-radius:50px;
            background-color:rgba(255, 255, 255, 0.5);
            background-image:url("./map/close_btn.png");
            background-repeat:no-repeat;
            background-position:50% 50%;
            position:absolute;
            top:5px;
            right:5px;
        }
    }
}


label{
    height: 46px;
    line-height: 46px;
    display: inline-block;
    color: #848484;
    font-size: 18px;
    font-weight: bold;
    float: left;
}


.c_mb10{
    margin-bottom: 10px !important;
}

.c_mb20{
    margin-bottom: 20px !important;
}

.c_mb30{
    margin-bottom: 30px !important;
}

.c_mb40{
    margin-bottom: 40px !important;
}

.c_mb30{
    margin-bottom: 30px !important;
}

.c_mb80{
    margin-bottom: 80px !important;
}

.c_mb100{
    margin-bottom: 100px !important;
}



.notice{
    line-height: 180%;
    margin-bottom: 30px;
    text-align: center;
    color:#ff0000;
    font-size:14px;
}


.btn0{
    width:339px;
    height: 53px;
    line-height: 53px;
    margin: 0 auto;
    display: block;
    background-color:#ebb314;
    color:#fff;
    font-size:24px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 0px #bc8e10,
                2px 2px 0px #bc8e10,
                3px 3px 0px #bc8e10,
                4px 4px 0px #bc8e10;
    border: none;

    &:active{
        box-shadow:none;
        transform:translate(4px,4px);
    }

    &:link,
    &:visited{
        color:#fff;
    }

}


.twitter_btn{
    width: 152px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding-left: 26px;
    display: block;
    border-radius: 5px;
    background-color: #55acee;
    background-image: url(./twitter_icon.png);
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: 24px 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0px;
    transition-duration: 0.3s;
    transition-property: opacity;

    &:link,
    &:visited{
        color:#fff;
    }

    &:hover{
        opacity: 0.8;
    }
}


@media screen and (min-width: 376px) {
    .btn0{
        cursor:pointer;

        &:hover{
            box-shadow:none;
            transform:translate(7px,7px);
        }
    }
}


.btn1{
    text-align: center;

    a{
        line-height: 110%;
        padding: 0 2px;
        display: inline-block;
        border-bottom: 1px solid #f1831b;
        font-size: 15px;
        color: #f1831b;
        text-decoration: none;
    }
}


@media screen and (min-width: 376px) {
    .btn1 a{
        transition-duration:0.3s;
        transition-property: opacity;

        &:hover{
            opacity: 0.7;
        }
    }
}


.tweet_container{
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}

.pagination{
    margin-bottom: 50px;
}


.title0{
    margin-bottom: 30px;
    padding-top: 50px;
    color: #ebb313;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}


.title1{
    margin-bottom: 27px;
    text-align: center;
    font-size: 16px;
    color: #8c8c8c;
}


//-----------------header--------------------
header{
    width:375px;
    height:66px;
    background-color:#fff;
    border-bottom:3px solid #ebb314;
    box-sizing:border-box;
    position:relative;
    box-shadow:0px 0px 3px 3px rgba(1,1,1,0.1);

    h1{
        width: 91px;
        margin: 0 auto;
        padding-top: 21px;

        img{
            width:100%;
        }
    }

    a.login_btn{
        width: 100px;
        height: 36px;
        line-height: 36px;
        background-color: #ebb313;
        display: block;
        position: absolute;
        top: 13px;
        right: 13px;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
    }

    a.main_menu_btn{
        width: 24px;
        height: 13px;
        display: block;
        position: absolute;
        top: 24px;
        left: 25px;

        img{
            width:100%;
        }
    }
}


@media screen and (min-width: 376px) {
    
    header{
        width:100%;

        a.login_btn{
            transition-duration: 0.3s;
            transition-property: opacity;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}


section.main_menu{
    width:100%;
    height:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateX(-100%);

    div.bg{
        width:100%;
        height: 100%;
        position:absolute;
        top:0px;
        left:0px;
    }

    ul{
        width: 300px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 3px 3px rgba(1,1,1,0.1);
        background-image:url("./menu/close_btn_bg.png");
        background-repeat:no-repeat;
        background-position:right top;
        background-size: 81px;
        position:relative;

        li{
            &:first-child{
                padding-top:50px;
            }

            a{
                height: 64px;
                line-height: 64px;
                padding-left: 31px;
                display: block;
                color: #ebb313;
                text-decoration: none;
                border-bottom: 1px solid #ebb313;
                font-size: 16px;
            }
        }

        li.close_btn{
            width:18px;
            height: 18px;
            position:absolute;
            top:14px;
            left:270px;

            a{
                width:18px;
                height: 18px;
                padding-left: 0;
                background-image:url("./menu/close_btn.png");
                background-size:100%;
                text-indent: -9999px;
                border-bottom: none;
            }
        }
    }
}


@media screen and (min-width: 376px) {
    
    section.main_menu{
        ul{
            width: 300px;

            li{
                height: 50px;

                &:first-child{
                    padding-top: 100px;
                }

                a{
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #ebb313;

                    transition-duration: 0.3s;
                    transition-property: opacity;

                    &:hover{
                        opacity: 0.7;
                    }
                }

                &.close_btn{
                    top: 10px;
                    left: 270px;

                    a{
                        transition-duration: 0.3s;
                        transition-property: transform;

                        &:hover{
                            transform: rotate(90deg);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

}

section.main_content{
    width:375px;
    margin-bottom: 80px;
}

@media screen and (min-width: 376px) {
section.main_content{
    width:100%;
    margin-bottom: 0;
}
}

footer{
    width:375px;
    padding-bottom: 10px;
    border-top:2px solid #ebb314;

    div.inner{
        @include clearfix;
        min-height: 102px;

        div.left{
            width: 50%;
            margin-left:25px;
            padding-top:29px;
            float:left;

            img{
                width:91px;
            }
        }

        div.right{
            padding-top:29px;
            margin-left: 21px;
            float:left;

            nav ul{
                li{
                    margin-bottom: 0px;
                    list-style: none;
                    position:relative;
                    height: 16px;
                    line-height: 16px;
                    z-index: -1;

                    &:after{
                        content:'';
                        width: 2px;
                        height: 2px;
                        display: block;
                        background-color: #a7a7a7;
                        position:absolute;
                        left:-10px;
                        top: 8px;
                    }

                    a{
                        color:#a7a7a7;
                        font-size:10px;
                        text-decoration: none;
                    }  
                }
            }
        }
    }

    p.copy{
        color: #a7a7a7;
        text-align:center;

        a{
            text-decoration: none;
            font-size:10px;
        }
    }
}

@media screen and (min-width: 376px) {

    footer{
        width:100%;

        div.inner div.left{
            width: 40%;
            margin-left: 16%;
        }

        div.inner div.left,
        div.inner div.right,
        p.copy{

            a{
                transition-duration: 0.3s;
                transition-property: opacity;

                &:hover{
                    opacity: 0.7;
                }
            }
        }

        div.inner{
            min-height: 140px;

            div.right{
                min-width: 300px;
            }
        }
    }

}

//-----------------modal--------------------
.modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;

    .inner{
        width:100%;
        height:100%;
        padding:0px 21px 0px 21px;
        box-sizing: border-box;
        background-color: #fff;
        position: absolute;
        left:0px;
        top:0px;
        transition-duration: 0.3s;
        transition-property: transform;
        transform: translateX(-100%);
        opacity: 1;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;


        input,
        textarea{
            width: 100%;
        }


        &:before{
            content:'';
            width:100px;
            height:100px;
            position: absolute;
            right:0px;
            top:0px;
            background-image:url("./menu/close_btn_bg.png");
            background-repeat:no-repeat;
            background-position:right top;
            background-size:100px;
        }


        .close_btn{
            width:30px;
            height: 30px;
            display: block;
            position:absolute;
            top:13px;
            right: 13px;
            background-image:url("./menu/close_btn.png");
            text-indent: -9999px;
            background-size:30px;
        }

        .comments_title{
            margin-bottom: 5px;
        }

    }


    &.new .inner{

        div{
            label{
                float: none;
            }
            input,
            textarea{
                float:none;
                min-width: 100%;
                max-width: 100%;
                box-sizing: border-box;
            }

            textarea{
                height: 160px;
            }
        }

    }


    &.show{

        .inner{

            div.top{
                width:auto;
                margin-bottom: 20px;
                padding:20px 0 30px 0;
                border-bottom:1px solid #ebb314;

                h2.title{
                    min-height: 30px;
                    line-height: 30px;
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: bold;
                    color: #ebb314;
                    border-bottom: 4px solid #ebb314;
                    word-break: break-all;

                    .title_user_icon{
                        width:30px;
                        height:30px;
                        display: inline-block;
                        position: relative;
                        top: -4px;

                        a{
                            transition-duration: 0.3s;
                            transition-property: opacity;

                            &:hover{
                                opacity: 0.8;
                            }

                            img{
                                width:30px;
                                border-radius: 4px;
                            }
                        }
                    }

                    div.like_btn{
                        margin-right: 10px;
                        display: inline-block;
                        cursor:pointer;

                        .count{
                            width: 49px;
                            height: 41px;
                            line-height: 41px;
                            margin-bottom: 4px;
                            padding-top: 6px;
                            display: block;
                            background-image:url("./map/like_btn.png");
                            background-repeat:no-repeat;
                            text-align: center;
                            color:#fff;
                            font-size: 16px;
                            text-shadow:-2px -1px 0 #a88112, -2px 0px 0 #a88112, -2px 1px 0 #a88112, -1px -2px 0 #a88112, -1px -1px 0 #a88112, -1px 0px 0 #a88112, -1px 1px 0 #a88112, -1px 2px 0 #a88112, 0px -2px 0 #a88112, 0px -1px 0 #a88112, 0px 0px 0 #a88112, 0px 1px 0 #a88112, 0px 2px 0 #a88112, 1px -2px 0 #a88112, 1px -1px 0 #a88112, 1px 0px 0 #a88112, 1px 1px 0 #a88112, 1px 2px 0 #a88112, 2px -1px 0 #a88112, 2px 0px 0 #a88112, 2px 1px 0 #a88112;
                            letter-spacing: 1.5px;
                        }
                        .like_btn_text{
                            line-height: 12px;
                            color:#ebb313;
                            font-size:12px;
                            font-weight: bold;
                            display: block;
                            text-align: center;
                        }
                        .like_popup{
                            height: 20px;
                            line-height: 20px;
                            padding: 0 6px;
                            background-color:#ebb314;
                            border-radius:5px;
                            color:#fff;
                            font-size: 11px;
                            border-radius: 4px;
                            position:absolute;
                            top: 30px;
                            left: 85px;
                            transition-duration: 1s;
                            transition-property: opacity;
                            @include animation( popupAnim0 1.2s ease 0s infinite );

                            &:after{
                                content:'';
                                width:10px;
                                height:10px;
                                background-color:#ebb314;
                                position:absolute;
                                top: 5px;
                                left: -3px;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }


                ul.sns{
                    @include clearfix;
                    margin-bottom: 20px;

                    li{
                        height:42px;
                        float:left;
                        margin-right: 10px;

                        &:first-child{
                            line-height: 18px;
                            padding-top: 2px;
                            color: #e8af0b;
                            font-size: 10px;
                        }

                        a{
                            img{
                                width: 40px;
                                border-radius: 5px;
                                box-shadow: 0px 2px #e5e5e5;
                            }
                        }
                    }
                }


                div.photo{
                    width: 100%;
                    max-height: 200px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    text-align: center;
                    img{
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                p.content{
                    min-height: 120px;
                    font-size: 18px;
                    line-height: 30px;
                    background:repeating-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 29px, #ebb314 29px, #ebb314 30px);
                    background-position: 0 -1px;
                }
            }

            div.bottom{
                padding:0 0 19px 0;

                h2{
                    line-height: 200%;
                    margin-bottom: 12px;
                    font-size: 18px;
                    color:#ebb314;
                    border-bottom: 1px dashed #ebb314;
                }

                ul.comments{
                    height: 110px;
                    margin-bottom: 12px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    -webkit-overflow-scrolling: touch;

                    li{
                        margin-bottom: 5px;
                        @include clearfix;

                        a{
                            transition-duration: 0.3s;
                            transition-property: opacity;

                            &:hover{
                                opacity: 0.8;
                            }
                            
                            img{
                                width:21px;
                                height:21px;
                                margin-right: 6px;
                                float:left;
                            }
                        }
                        p{
                            line-height: 22px;
                            font-size:12px;
                            float:left;
                        }


                        &.no_comment p{
                            margin-left: 0;
                        }
                    }
                }

                textarea{
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                    height: 100px;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    padding: 0 5px;
                    font-size: 15px;
                    line-height: 20px;
                    float: none;
                    box-sizing: border-box;
                }

                .answer_btn{
                    width: 100%;
                }
            }

        }
    }


    &.edit_profile .inner{

        div.container{
            padding: 20px 21px;
            position:relative;

            div.change_photo{
                transition-duration: 0.3s;
                transition-property: opacity;

                div.photo_circle{
                    width: 180px;
                    height:180px;
                    margin: 0 auto 35px;
                    display: block;
                    border-radius: 200px;
                    border:3px solid #fff;
                    background-size:cover;
                    background-repeat:no-repeat;
                    box-shadow: 0px 0px 2px 2px rgba(1, 1, 1, 0.1);
                }

                form{
                    text-align: center;
                }
                
                .file_selector{
                    margin-bottom: 30px;
                    label{
                        float:none;
                    }
                }

                a.photo_upload_btn{
                    width: 100%;
                }

            }

            div.change_profile{
                width:100%;
                display: none;
                transition-duration: 0.3s;
                transition-property: opacity;

                div.clearfix{
                    @include clearfix;
                }

                label{
                    float:none;
                }

                input[type="text"],
                input[type="password"],
                textarea{
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                    display: block;
                    float:none;
                }

                textarea{
                    height:100px;
                }
            }
        }
    }
}



@media screen and (min-width: 376px) {

    .modal .inner{

        .close_btn{
            transition-duration:0.3s;
            transition-property: transform;
            
            &:hover{
                transform: rotate(90deg);
            }
        }
    }
}



.loading_cover{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    position:fixed;
    top:0px;
    left:0px;
    background-image:url("./loading.gif");
    background-repeat:no-repeat;
    background-position:center center;
    transition-duration: 0.3s;
    transition-property: opacity;
}




@keyframes popupAnim0{
  0% {
    transform:  translate(0px,0px)  ;
  }
  50% {
    transform:  translate(-4px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  } 
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}