@charset "utf-8";
@import "mixin";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================
.map_container{
    height: 512px;
    width: 512px;
    position: relative;

	.map{
	    height: 512px;
	    width: 512px;
	}

	.btn0{
		position: absolute;
		left: 130px;
		bottom: 20px;
	}
}

.popup{
	cursor:pointer;
}


.top_content{
	width:100%;
	height:550px;
	background-image:url("./top/map.jpg");

	h2{
		font-size: 44px;
		color: #ebb313;
		background-color: #fff;
		display: inline-block;
		height: 66px;
		line-height: 66px;
		padding: 0 10px;
		margin: 35px 0 16px 116px;
	}

	p{
		font-size: 26px;
		color: #757575;
		background-color: #fff;
		display: inline-block;
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		margin:0 0 10px 116px;

		&:nth-child(3){
			margin-bottom: 202px;
		}
	}

	a.login_btn{
		width:678px;
		height: 106px;
		line-height: 106px;
		margin: 0 auto;
		display: block;
		background-color:#ebb314;
		color:#fff;
		font-size:48px;
		text-align: center;
	    text-decoration: none;
	    box-shadow: 1px 1px 0px #bc8e10,
	    			2px 2px 0px #bc8e10,
	    			3px 3px 0px #bc8e10,
	    			4px 4px 0px #bc8e10,
	    			5px 5px 0px #bc8e10,
	    			6px 6px 0px #bc8e10,
	    			7px 7px 0px #bc8e10;

	    &:active{
	    	box-shadow:none;
	    	transform:translate(7px,7px);
	    }
	}
}