@charset "utf-8";
@import "mixin";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================

body,
html{
    width: 640px;
    /*height: 100%;*/
    margin: 0 auto;
    overflow: hidden;
}

.map_container{
    height: 512px;
    width: 512px;
    position: relative;

	.map{
	    height: 512px;
	    width: 512px;
	}

	.btn0{
		position: absolute;
		left: 130px;
		bottom: 20px;
	}
}

.popup{
	cursor:pointer;
}