<div class="login_container">

	<h2 class="title0">ログイン</h2>

	<%= render 'form', user:@user %>

	
	<%= link_to 'TwitterIDでログイン', '/auth/twitter', :class => 'twitter_btn c_mb30' %>

	<p class="signup_btn btn1"><%= link_to "新規登録", signup_path %></p>

</div>