@charset "UTF-8";
/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* add a little bit rules */
html { overflow-y: scroll; }

img, object, embed { vertical-align: top; }

input, select { vertical-align: middle; }

html { font-size: 62.5%; }

body { font-size: 18px; font-size: 1.8rem; }

/* YUI 3.4.1 (build 4118) Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License. http://yuilibrary.com/license/ */
select, input, button, textarea { font: 99% arial,helvetica,clean,sans-serif; }

table { font-size: inherit; font: 100%; }

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }

/*  CLASSES  */
/*============================
DEFAULT CLASS
============================*/
.fL { float: left !important; }

.fR { float: right !important; }

.dI { display: inline !important; }

.dIb { display: inline-block !important; }

.dB { display: block !important; }

.bold { font-weight: bold !important; }

.normal { font-weight: normal !important; }

.aC { text-align: center !important; }

.aR { text-align: right !important; }

.aL { text-align: left !important; }

.lh1_2 { line-height: 1.2 !important; }

.lh1_4 { line-height: 1.4 !important; }

.lh1_6 { line-height: 1.6 !important; }

.lh1_8 { line-height: 1.8 !important; }

.lh2 { line-height: 2 !important; }

.m0 { margin: 0 !important; }

.m0a { margin: 0 auto !important; }

.mT-4 { margin-top: -4px !important; }

.mB-4 { margin-bottom: -4px !important; }

.mR-4 { margin-right: -4px !important; }

.mL-4 { margin-left: -4px !important; }

.mT0 { margin-top: 0px !important; }

.mB0 { margin-bottom: 0px !important; }

.mR0 { margin-right: 0px !important; }

.mL0 { margin-left: 0px !important; }

.mT4 { margin-top: 4px !important; }

.mB4 { margin-bottom: 4px !important; }

.mR4 { margin-right: 4px !important; }

.mL4 { margin-left: 4px !important; }

.mT8 { margin-top: 8px !important; }

.mB8 { margin-bottom: 8px !important; }

.mR8 { margin-right: 8px !important; }

.mL8 { margin-left: 8px !important; }

.mT12 { margin-top: 12px !important; }

.mB12 { margin-bottom: 12px !important; }

.mR12 { margin-right: 12px !important; }

.mL12 { margin-left: 12px !important; }

.mT16 { margin-top: 16px !important; }

.mB16 { margin-bottom: 16px !important; }

.mR16 { margin-right: 16px !important; }

.mL16 { margin-left: 16px !important; }

.mT20 { margin-top: 20px !important; }

.mB20 { margin-bottom: 20px !important; }

.mR20 { margin-right: 20px !important; }

.mL20 { margin-left: 20px !important; }

.mT24 { margin-top: 24px !important; }

.mB24 { margin-bottom: 24px !important; }

.mR24 { margin-right: 24px !important; }

.mL24 { margin-left: 24px !important; }

.mT28 { margin-top: 28px !important; }

.mB28 { margin-bottom: 28px !important; }

.mR28 { margin-right: 28px !important; }

.mL28 { margin-left: 28px !important; }

.mT32 { margin-top: 32px !important; }

.mB32 { margin-bottom: 32px !important; }

.mR32 { margin-right: 32px !important; }

.mL32 { margin-left: 32px !important; }

.mT36 { margin-top: 36px !important; }

.mB36 { margin-bottom: 36px !important; }

.mR36 { margin-right: 36px !important; }

.mL36 { margin-left: 36px !important; }

.mT40 { margin-top: 40px !important; }

.mB40 { margin-bottom: 40px !important; }

.mR40 { margin-right: 40px !important; }

.mL40 { margin-left: 40px !important; }

.mT44 { margin-top: 44px !important; }

.mB44 { margin-bottom: 44px !important; }

.mR44 { margin-right: 44px !important; }

.mL44 { margin-left: 44px !important; }

.mT48 { margin-top: 48px !important; }

.mB48 { margin-bottom: 48px !important; }

.mR48 { margin-right: 48px !important; }

.mL48 { margin-left: 48px !important; }

.mT52 { margin-top: 52px !important; }

.mB52 { margin-bottom: 52px !important; }

.mR52 { margin-right: 52px !important; }

.mL52 { margin-left: 52px !important; }

.mT56 { margin-top: 56px !important; }

.mB56 { margin-bottom: 56px !important; }

.mR56 { margin-right: 56px !important; }

.mL56 { margin-left: 56px !important; }

.mT60 { margin-top: 60px !important; }

.mB60 { margin-bottom: 60px !important; }

.mR60 { margin-right: 60px !important; }

.mL60 { margin-left: 60px !important; }

.mT64 { margin-top: 64px !important; }

.mB64 { margin-bottom: 64px !important; }

.mR64 { margin-right: 64px !important; }

.mL64 { margin-left: 64px !important; }

.mT68 { margin-top: 68px !important; }

.mB68 { margin-bottom: 68px !important; }

.mR68 { margin-right: 68px !important; }

.mL68 { margin-left: 68px !important; }

.mT72 { margin-top: 72px !important; }

.mB72 { margin-bottom: 72px !important; }

.mR72 { margin-right: 72px !important; }

.mL72 { margin-left: 72px !important; }

.mT76 { margin-top: 76px !important; }

.mB76 { margin-bottom: 76px !important; }

.mR76 { margin-right: 76px !important; }

.mL76 { margin-left: 76px !important; }

.mT80 { margin-top: 80px !important; }

.mB80 { margin-bottom: 80px !important; }

.mR80 { margin-right: 80px !important; }

.mL80 { margin-left: 80px !important; }

.mT84 { margin-top: 84px !important; }

.mB84 { margin-bottom: 84px !important; }

.mR84 { margin-right: 84px !important; }

.mL84 { margin-left: 84px !important; }

.mT88 { margin-top: 88px !important; }

.mB88 { margin-bottom: 88px !important; }

.mR88 { margin-right: 88px !important; }

.mL88 { margin-left: 88px !important; }

.mT92 { margin-top: 92px !important; }

.mB92 { margin-bottom: 92px !important; }

.mR92 { margin-right: 92px !important; }

.mL92 { margin-left: 92px !important; }

.mT96 { margin-top: 96px !important; }

.mB96 { margin-bottom: 96px !important; }

.mR96 { margin-right: 96px !important; }

.mL96 { margin-left: 96px !important; }

.mT100 { margin-top: 100px !important; }

.mB100 { margin-bottom: 100px !important; }

.mR100 { margin-right: 100px !important; }

.mL100 { margin-left: 100px !important; }

.p0 { padding: 0 !important; }

.pT0 { padding-top: 0 !important; }

.pB0 { padding-bottom: 0 !important; }

.pT24 { padding-top: 24px !important; }

.pB24 { padding-bottom: 24px !important; }

.pT48 { padding-top: 48px !important; }

.pB48 { padding-bottom: 48px !important; }

p, li, dt, dd, h2, h3, h4, span { background: url("../images/spacer.gif") 0 0 no-repeat; }

.textFix { background: url("../images/spacer.gif") 0 0 no-repeat !important; }

/* clearfix */
.cf:after, .clearfix:after { content: ""; clear: both; display: block; }

/*  CLASSES  */
/*============================
DEFAULT CLASS
============================*/
.fL { float: left !important; }

.fR { float: right !important; }

.dI { display: inline !important; }

.dIb { display: inline-block !important; }

.dB { display: block !important; }

.bold { font-weight: bold !important; }

.normal { font-weight: normal !important; }

.aC { text-align: center !important; }

.aR { text-align: right !important; }

.aL { text-align: left !important; }

.lh1_2 { line-height: 1.2 !important; }

.lh1_4 { line-height: 1.4 !important; }

.lh1_6 { line-height: 1.6 !important; }

.lh1_8 { line-height: 1.8 !important; }

.lh2 { line-height: 2 !important; }

.m0 { margin: 0 !important; }

.m0a { margin: 0 auto !important; }

.mT-4 { margin-top: -4px !important; }

.mB-4 { margin-bottom: -4px !important; }

.mR-4 { margin-right: -4px !important; }

.mL-4 { margin-left: -4px !important; }

.mT0 { margin-top: 0px !important; }

.mB0 { margin-bottom: 0px !important; }

.mR0 { margin-right: 0px !important; }

.mL0 { margin-left: 0px !important; }

.mT4 { margin-top: 4px !important; }

.mB4 { margin-bottom: 4px !important; }

.mR4 { margin-right: 4px !important; }

.mL4 { margin-left: 4px !important; }

.mT8 { margin-top: 8px !important; }

.mB8 { margin-bottom: 8px !important; }

.mR8 { margin-right: 8px !important; }

.mL8 { margin-left: 8px !important; }

.mT12 { margin-top: 12px !important; }

.mB12 { margin-bottom: 12px !important; }

.mR12 { margin-right: 12px !important; }

.mL12 { margin-left: 12px !important; }

.mT16 { margin-top: 16px !important; }

.mB16 { margin-bottom: 16px !important; }

.mR16 { margin-right: 16px !important; }

.mL16 { margin-left: 16px !important; }

.mT20 { margin-top: 20px !important; }

.mB20 { margin-bottom: 20px !important; }

.mR20 { margin-right: 20px !important; }

.mL20 { margin-left: 20px !important; }

.mT24 { margin-top: 24px !important; }

.mB24 { margin-bottom: 24px !important; }

.mR24 { margin-right: 24px !important; }

.mL24 { margin-left: 24px !important; }

.mT28 { margin-top: 28px !important; }

.mB28 { margin-bottom: 28px !important; }

.mR28 { margin-right: 28px !important; }

.mL28 { margin-left: 28px !important; }

.mT32 { margin-top: 32px !important; }

.mB32 { margin-bottom: 32px !important; }

.mR32 { margin-right: 32px !important; }

.mL32 { margin-left: 32px !important; }

.mT36 { margin-top: 36px !important; }

.mB36 { margin-bottom: 36px !important; }

.mR36 { margin-right: 36px !important; }

.mL36 { margin-left: 36px !important; }

.mT40 { margin-top: 40px !important; }

.mB40 { margin-bottom: 40px !important; }

.mR40 { margin-right: 40px !important; }

.mL40 { margin-left: 40px !important; }

.mT44 { margin-top: 44px !important; }

.mB44 { margin-bottom: 44px !important; }

.mR44 { margin-right: 44px !important; }

.mL44 { margin-left: 44px !important; }

.mT48 { margin-top: 48px !important; }

.mB48 { margin-bottom: 48px !important; }

.mR48 { margin-right: 48px !important; }

.mL48 { margin-left: 48px !important; }

.mT52 { margin-top: 52px !important; }

.mB52 { margin-bottom: 52px !important; }

.mR52 { margin-right: 52px !important; }

.mL52 { margin-left: 52px !important; }

.mT56 { margin-top: 56px !important; }

.mB56 { margin-bottom: 56px !important; }

.mR56 { margin-right: 56px !important; }

.mL56 { margin-left: 56px !important; }

.mT60 { margin-top: 60px !important; }

.mB60 { margin-bottom: 60px !important; }

.mR60 { margin-right: 60px !important; }

.mL60 { margin-left: 60px !important; }

.mT64 { margin-top: 64px !important; }

.mB64 { margin-bottom: 64px !important; }

.mR64 { margin-right: 64px !important; }

.mL64 { margin-left: 64px !important; }

.mT68 { margin-top: 68px !important; }

.mB68 { margin-bottom: 68px !important; }

.mR68 { margin-right: 68px !important; }

.mL68 { margin-left: 68px !important; }

.mT72 { margin-top: 72px !important; }

.mB72 { margin-bottom: 72px !important; }

.mR72 { margin-right: 72px !important; }

.mL72 { margin-left: 72px !important; }

.mT76 { margin-top: 76px !important; }

.mB76 { margin-bottom: 76px !important; }

.mR76 { margin-right: 76px !important; }

.mL76 { margin-left: 76px !important; }

.mT80 { margin-top: 80px !important; }

.mB80 { margin-bottom: 80px !important; }

.mR80 { margin-right: 80px !important; }

.mL80 { margin-left: 80px !important; }

.mT84 { margin-top: 84px !important; }

.mB84 { margin-bottom: 84px !important; }

.mR84 { margin-right: 84px !important; }

.mL84 { margin-left: 84px !important; }

.mT88 { margin-top: 88px !important; }

.mB88 { margin-bottom: 88px !important; }

.mR88 { margin-right: 88px !important; }

.mL88 { margin-left: 88px !important; }

.mT92 { margin-top: 92px !important; }

.mB92 { margin-bottom: 92px !important; }

.mR92 { margin-right: 92px !important; }

.mL92 { margin-left: 92px !important; }

.mT96 { margin-top: 96px !important; }

.mB96 { margin-bottom: 96px !important; }

.mR96 { margin-right: 96px !important; }

.mL96 { margin-left: 96px !important; }

.mT100 { margin-top: 100px !important; }

.mB100 { margin-bottom: 100px !important; }

.mR100 { margin-right: 100px !important; }

.mL100 { margin-left: 100px !important; }

.p0 { padding: 0 !important; }

.pT0 { padding-top: 0 !important; }

.pB0 { padding-bottom: 0 !important; }

.pT24 { padding-top: 24px !important; }

.pB24 { padding-bottom: 24px !important; }

.pT48 { padding-top: 48px !important; }

.pB48 { padding-bottom: 48px !important; }

p, li, dt, dd, h2, h3, h4, span { background: url("../images/spacer.gif") 0 0 no-repeat; }

.textFix { background: url("../images/spacer.gif") 0 0 no-repeat !important; }

/* clearfix */
.cf:after, .clearfix:after { content: ""; clear: both; display: block; }

/* For modern browsers */
.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { zoom: 1; }

/*  BASE STYLE  */
body, html { width: 100%; height: 100%; }

body { color: #252525; font-family: microsoft yahei, Verdana "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; -webkit-text-size-adjust: 100%; word-wrap: break-word; overflow-x: hidden; }

a { -webkit-tap-highlight-color: transparent; }
a:link { color: #252525; }
a:visited { color: #252525; }
a:hover { text-decoration: none; color: #252525; }
a:active { color: #252525; }

input[type="text"]:focus { outline: 0; border-color: none; }

input[type="text"], input[type="password"], textarea { width: 440px; height: 60px; line-height: 60px; font-size: 30px; padding-left: 10px; border-radius: 10px; float: right; }

input[type="checkbox"] { -webkit-appearance: none; position: relative; margin-right: 5px; border-radius: 8px; border: 1px solid #4c4c4c; -webkit-box-sizing: border-box; width: 28px; height: 28px; background: #fff; }

input[type="checkbox"]:checked:before { position: absolute; left: 1px; top: 17px; display: block; content: ""; width: 10px; height: 4px; background: #252525; -webkit-transform: rotate(45deg); -webkit-transform-origin: right center; }

input[type="checkbox"]:checked:after { display: block; position: absolute; left: 9px; top: 17px; content: ""; width: 19px; height: 4px; background: #252525; -webkit-transform: rotate(-53deg); -webkit-transform-origin: left center; }

label { height: 66px; line-height: 66px; display: inline-block; font-size: 36px; float: left; }

.c_mb10 { margin-bottom: 10px; }

.c_mb20 { margin-bottom: 20px; }

.c_mb40 { margin-bottom: 40px; }

.c_mb30 { margin-bottom: 30px; }

.c_mb80 { margin-bottom: 80px; }

.c_mb100 { margin-bottom: 100px; }

.btn0 { width: 678px; height: 106px; line-height: 106px; margin: 0 auto; display: block; background-color: #ebb314; color: #fff; font-size: 48px; text-align: center; text-decoration: none; box-shadow: 1px 1px 0px #bc8e10, 2px 2px 0px #bc8e10, 3px 3px 0px #bc8e10, 4px 4px 0px #bc8e10, 5px 5px 0px #bc8e10, 6px 6px 0px #bc8e10, 7px 7px 0px #bc8e10; border: none; }
.btn0:active { box-shadow: none; transform: translate(7px, 7px); }
.btn0:link, .btn0:visited { color: #fff; }

.btn1 { text-align: center; }
.btn1 a { line-height: 110%; padding: 0 5px; display: inline-block; border-bottom: 1px solid #f1831b; font-size: 30px; color: #f1831b; text-decoration: none; }

.btn1:hover { text-decoration: none; }

.tweet_container { border-bottom: 1px solid #ddd; padding-bottom: 50px; }

.pagination { margin-bottom: 50px; }

.title0 { margin-bottom: 60px; padding-top: 50px; color: #ebb313; font-size: 50px; text-align: center; }

header { width: 750px; height: 132px; background-color: #fff; border-bottom: 6px solid #ebb314; box-sizing: border-box; position: relative; box-shadow: 0px 0px 3px 3px rgba(1, 1, 1, 0.1); }
header h1 { width: 182px; margin: 0 auto; padding-top: 42px; }
header a.login_btn { width: 200px; height: 72px; line-height: 72px; background-color: #ebb313; display: block; position: absolute; top: 26px; right: 26px; border-radius: 10px; color: #fff; text-align: center; text-decoration: none; font-size: 26px; }
header a.main_menu_btn { width: 49px; height: 27px; display: block; position: absolute; top: 48px; left: 50px; }

section.main_menu { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; transition-duration: 0.3s; transition-property: transform; transform: translateX(-750px); }
section.main_menu div.bg { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
section.main_menu ul { width: 600px; height: 100%; background-color: #fff; box-shadow: 0px 0px 3px 3px rgba(1, 1, 1, 0.1); background-image: url("./menu/close_btn_bg.png"); background-repeat: no-repeat; background-position: right top; position: relative; }
section.main_menu ul li:first-child { padding-top: 100px; }
section.main_menu ul li a { height: 128px; line-height: 128px; padding-left: 62px; display: block; color: #ebb313; text-decoration: none; border-bottom: 2px solid #ebb313; font-size: 32px; }
section.main_menu ul li.close_btn { width: 37px; height: 37px; position: absolute; top: 28px; left: 540px; }
section.main_menu ul li.close_btn a { width: 37px; height: 37px; padding-left: 0; background-image: url("./menu/close_btn.png"); text-indent: -9999px; border-bottom: none; }

section.main_content { width: 750px; margin-bottom: 80px; }

body.questions_index section.main_content { margin-bottom: 0; }

footer { width: 750px; padding-bottom: 20px; border-top: 4px solid #ebb314; }
footer div.inner { overflow: hidden; *zoom: 1; min-height: 204px; }
footer div.inner div.left { width: 324px; margin-left: 50px; padding-top: 58px; float: left; }
footer div.inner div.right { padding-top: 58px; margin-left: 42px; float: left; }
footer div.inner div.right nav ul li { margin-bottom: 12px; list-style: circle; }
footer div.inner div.right nav ul li a { color: #a7a7a7; font-size: 20px; text-decoration: none; }
footer p.copy { text-align: center; }

.modal { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; display: none; transition-duration: 0.3s; transition-property: opacity; }
.modal .bg { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
.modal .inner { background-color: #fff; border-radius: 10px; width: 690px; height: 1054px; margin: -527px 0 0 -345px; position: absolute; top: 50%; left: 50%; opacity: 0; transform: translateY(-20px); background-image: url("./menu/close_btn_bg.png"); background-repeat: no-repeat; background-position: right top; transition-duration: 0.3s; transition-property: transform, opacity; }
.modal .inner input, .modal .inner textarea { width: 100%; }
.modal .inner .close_btn { width: 37px; height: 37px; display: block; position: absolute; top: 28px; left: 624px; background-image: url("./menu/close_btn.png"); text-indent: -9999px; }
.modal .inner .comments_title { margin-bottom: 10px; }
.modal.show .inner div.top { width: auto; margin-bottom: 24px; padding: 40px 42px 60px 42px; border-bottom: 2px solid #ebb314; }
.modal.show .inner div.top h2.title { width: 470px; height: 60px; line-height: 60px; margin-bottom: 18px; padding-left: 55px; font-size: 44px; font-weight: bold; color: #ebb314; border-bottom: 16px solid #ebb314; background-image: url("./map/icon.png"); background-repeat: no-repeat; background-position: left 10px; }
.modal.show .inner div.top p.content { min-height: 240px; font-size: 36px; line-height: 60px; background: repeating-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 58px, #ebb314 58px, #ebb314 60px); }
.modal.show .inner div.bottom { padding: 0 42px 38px 42px; }
.modal.show .inner div.bottom h2 { height: 58px; line-height: 58px; margin-bottom: 24px; font-size: 36px; color: #ebb314; border-bottom: 2px dashed #ebb314; }
.modal.show .inner div.bottom ul.comments { height: 220px; margin-bottom: 24px; overflow-x: scroll; -webkit-overflow-scrolling: touch; }
.modal.show .inner div.bottom ul.comments li { margin-bottom: 10px; overflow: hidden; *zoom: 1; }
.modal.show .inner div.bottom ul.comments li img { width: 42px; margin-right: 12px; float: left; }
.modal.show .inner div.bottom ul.comments li p { line-height: 44px; font-size: 24px; float: left; }
.modal.show .inner div.bottom ul.comments li p.no_comment { margin-left: 0; }
.modal.show .inner div.bottom textarea { border-radius: 10px; width: 590px; height: 100px; margin-bottom: 10px; padding: 0 10px; font-size: 30px; line-height: 40px; }
.modal.show .inner div.bottom .answer_btn { width: 100%; }
.modal.edit_profile .inner div.container { padding: 40px 42px; position: relative; }
.modal.edit_profile .inner div.container div.change_photo { transition-duration: 0.3s; transition-property: opacity; }
.modal.edit_profile .inner div.container div.change_photo label.photo_file_select_btn { height: auto; margin-bottom: 60px; }
.modal.edit_profile .inner div.container div.change_profile { width: 600px; display: none; transition-duration: 0.3s; transition-property: opacity; position: absolute; top: 40px; }
.modal.edit_profile .inner div.container div.change_profile div.clearfix { overflow: hidden; *zoom: 1; }
.modal.edit_profile .inner div.container div.change_profile input[type="text"], .modal.edit_profile .inner div.container div.change_profile input[type="password"], .modal.edit_profile .inner div.container div.change_profile textarea { width: 420px; }
.modal.edit_profile .inner div.container div.change_profile textarea { height: 200px; }

/*  CLASSES  */
/*============================
DEFAULT CLASS
============================*/
.fL { float: left !important; }

.fR { float: right !important; }

.dI { display: inline !important; }

.dIb { display: inline-block !important; }

.dB { display: block !important; }

.bold { font-weight: bold !important; }

.normal { font-weight: normal !important; }

.aC { text-align: center !important; }

.aR { text-align: right !important; }

.aL { text-align: left !important; }

.lh1_2 { line-height: 1.2 !important; }

.lh1_4 { line-height: 1.4 !important; }

.lh1_6 { line-height: 1.6 !important; }

.lh1_8 { line-height: 1.8 !important; }

.lh2 { line-height: 2 !important; }

.m0 { margin: 0 !important; }

.m0a { margin: 0 auto !important; }

.mT-4 { margin-top: -4px !important; }

.mB-4 { margin-bottom: -4px !important; }

.mR-4 { margin-right: -4px !important; }

.mL-4 { margin-left: -4px !important; }

.mT0 { margin-top: 0px !important; }

.mB0 { margin-bottom: 0px !important; }

.mR0 { margin-right: 0px !important; }

.mL0 { margin-left: 0px !important; }

.mT4 { margin-top: 4px !important; }

.mB4 { margin-bottom: 4px !important; }

.mR4 { margin-right: 4px !important; }

.mL4 { margin-left: 4px !important; }

.mT8 { margin-top: 8px !important; }

.mB8 { margin-bottom: 8px !important; }

.mR8 { margin-right: 8px !important; }

.mL8 { margin-left: 8px !important; }

.mT12 { margin-top: 12px !important; }

.mB12 { margin-bottom: 12px !important; }

.mR12 { margin-right: 12px !important; }

.mL12 { margin-left: 12px !important; }

.mT16 { margin-top: 16px !important; }

.mB16 { margin-bottom: 16px !important; }

.mR16 { margin-right: 16px !important; }

.mL16 { margin-left: 16px !important; }

.mT20 { margin-top: 20px !important; }

.mB20 { margin-bottom: 20px !important; }

.mR20 { margin-right: 20px !important; }

.mL20 { margin-left: 20px !important; }

.mT24 { margin-top: 24px !important; }

.mB24 { margin-bottom: 24px !important; }

.mR24 { margin-right: 24px !important; }

.mL24 { margin-left: 24px !important; }

.mT28 { margin-top: 28px !important; }

.mB28 { margin-bottom: 28px !important; }

.mR28 { margin-right: 28px !important; }

.mL28 { margin-left: 28px !important; }

.mT32 { margin-top: 32px !important; }

.mB32 { margin-bottom: 32px !important; }

.mR32 { margin-right: 32px !important; }

.mL32 { margin-left: 32px !important; }

.mT36 { margin-top: 36px !important; }

.mB36 { margin-bottom: 36px !important; }

.mR36 { margin-right: 36px !important; }

.mL36 { margin-left: 36px !important; }

.mT40 { margin-top: 40px !important; }

.mB40 { margin-bottom: 40px !important; }

.mR40 { margin-right: 40px !important; }

.mL40 { margin-left: 40px !important; }

.mT44 { margin-top: 44px !important; }

.mB44 { margin-bottom: 44px !important; }

.mR44 { margin-right: 44px !important; }

.mL44 { margin-left: 44px !important; }

.mT48 { margin-top: 48px !important; }

.mB48 { margin-bottom: 48px !important; }

.mR48 { margin-right: 48px !important; }

.mL48 { margin-left: 48px !important; }

.mT52 { margin-top: 52px !important; }

.mB52 { margin-bottom: 52px !important; }

.mR52 { margin-right: 52px !important; }

.mL52 { margin-left: 52px !important; }

.mT56 { margin-top: 56px !important; }

.mB56 { margin-bottom: 56px !important; }

.mR56 { margin-right: 56px !important; }

.mL56 { margin-left: 56px !important; }

.mT60 { margin-top: 60px !important; }

.mB60 { margin-bottom: 60px !important; }

.mR60 { margin-right: 60px !important; }

.mL60 { margin-left: 60px !important; }

.mT64 { margin-top: 64px !important; }

.mB64 { margin-bottom: 64px !important; }

.mR64 { margin-right: 64px !important; }

.mL64 { margin-left: 64px !important; }

.mT68 { margin-top: 68px !important; }

.mB68 { margin-bottom: 68px !important; }

.mR68 { margin-right: 68px !important; }

.mL68 { margin-left: 68px !important; }

.mT72 { margin-top: 72px !important; }

.mB72 { margin-bottom: 72px !important; }

.mR72 { margin-right: 72px !important; }

.mL72 { margin-left: 72px !important; }

.mT76 { margin-top: 76px !important; }

.mB76 { margin-bottom: 76px !important; }

.mR76 { margin-right: 76px !important; }

.mL76 { margin-left: 76px !important; }

.mT80 { margin-top: 80px !important; }

.mB80 { margin-bottom: 80px !important; }

.mR80 { margin-right: 80px !important; }

.mL80 { margin-left: 80px !important; }

.mT84 { margin-top: 84px !important; }

.mB84 { margin-bottom: 84px !important; }

.mR84 { margin-right: 84px !important; }

.mL84 { margin-left: 84px !important; }

.mT88 { margin-top: 88px !important; }

.mB88 { margin-bottom: 88px !important; }

.mR88 { margin-right: 88px !important; }

.mL88 { margin-left: 88px !important; }

.mT92 { margin-top: 92px !important; }

.mB92 { margin-bottom: 92px !important; }

.mR92 { margin-right: 92px !important; }

.mL92 { margin-left: 92px !important; }

.mT96 { margin-top: 96px !important; }

.mB96 { margin-bottom: 96px !important; }

.mR96 { margin-right: 96px !important; }

.mL96 { margin-left: 96px !important; }

.mT100 { margin-top: 100px !important; }

.mB100 { margin-bottom: 100px !important; }

.mR100 { margin-right: 100px !important; }

.mL100 { margin-left: 100px !important; }

.p0 { padding: 0 !important; }

.pT0 { padding-top: 0 !important; }

.pB0 { padding-bottom: 0 !important; }

.pT24 { padding-top: 24px !important; }

.pB24 { padding-bottom: 24px !important; }

.pT48 { padding-top: 48px !important; }

.pB48 { padding-bottom: 48px !important; }

p, li, dt, dd, h2, h3, h4, span { background: url("../images/spacer.gif") 0 0 no-repeat; }

.textFix { background: url("../images/spacer.gif") 0 0 no-repeat !important; }

/* clearfix */
.cf:after, .clearfix:after { content: ""; clear: both; display: block; }

.top_content { width: 100%; height: 550px; background-image: url("./top/map.jpg"); }
.top_content h2 { font-size: 44px; color: #ebb313; background-color: #fff; display: inline-block; height: 66px; line-height: 66px; padding: 0 10px; margin: 35px 0 16px 116px; }
.top_content p { font-size: 26px; color: #757575; background-color: #fff; display: inline-block; height: 40px; line-height: 40px; padding: 0 10px; margin: 0 0 10px 116px; }
.top_content p:nth-child(3) { margin-bottom: 202px; }

.howto { height: 400px; }
.howto div.steps { overflow: hidden; *zoom: 1; width: 740px; margin: 0 auto; }
.howto div.steps div.step { width: 220px; float: left; text-align: center; }
.howto div.steps div.step img { margin-bottom: 24px; }
.howto div.steps div.step.step1 { margin-right: 15px; }
.howto div.steps div.step.step1 img { margin: 22px 0 30px 0; }
.howto div.steps div.step.step2 { margin-right: 25px; }
.howto div.steps div.step.step2 img { margin: 20px 0 26px 0; }
.howto div.steps div.step h3 { line-height: 220%; }
.howto div.steps div.step h3 span { color: #737373; font-size: 20px; border-bottom: 2px dashed #ebb314; }

.signup_container, .login_container { width: 650px; margin: 0 auto; }
.signup_container form div, .login_container form div { overflow: hidden; *zoom: 1; }
.signup_container form textarea, .login_container form textarea { height: 200px; }
.signup_container form .btn0, .login_container form .btn0 { width: 650px; margin-bottom: 50px; }

.map_container { width: 750px; height: 1000px; position: relative; }
.map_container .map { height: 100%; width: 100%; }
.map_container .btn0 { position: absolute; left: 36px; bottom: 35px; }

.popup { cursor: pointer; }

body.users_show div.photo_container { height: 266px; padding-top: 26px; background-color: #f2f2f2; margin-bottom: 10px; background-image: url("./mypage/photo_bg.gif"); background-repeat: repeat-x; background-position: bottom; }
body.users_show div.photo_container div.photo { width: 180px; height: 180px; margin: 0 auto 20px auto; border-radius: 200px; background-size: cover; }
body.users_show div.photo_container p.name { color: #ebb313; font-size: 34px; text-align: center; }
body.users_show p.about { line-height: 64px; margin-bottom: 42px; color: #5d5d5d; font-size: 36px; text-align: center; }
body.users_show p.about span { line-height: 64px; border-bottom: 1px solid #ebb313; }
body.users_show table.profile { margin: 0 auto 40px auto; border: 2px solid #d3dae0; }
body.users_show table.profile tr td, body.users_show table.profile tr th { font-size: 30px; line-height: 60px; border: 2px solid #d3dae0; }
body.users_show table.profile tr th { width: 200px; background-color: #f2f4f6; text-align: left; padding-left: 20px; }
body.users_show table.profile tr td { width: 450px; padding-left: 20px; }
