
<footer>
	<div class="inner">
		<div class="left">
			<%= image_tag 'footer/logo.png', :alt => 'MapPop マップポップ' %>
		</div>
		<div class="right">
			<nav>
				<ul>
					<li>
						<a href="#">利用規約</a>
					</li>
					<li>
						<a href="#">プライバシーポリシー</a>
					</li>
					<li>
						<a href="#">お問い合わせ</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<p class="copy">&copy;夕暮れソフト</p>
</footer>
